extends ../../layout

block content
  div(id="adminBg")
    div(class="row")
      div(class="col-md-2")
        include ../nav.pug
      div(class="col-md-10")
        if (user)
          div(class="row")
            div(class="col-md-12")
              h3 Subject: 
                span=user.inquiry
          div(class="row")
            div(class="col-md-12")
              h3(id="man") Full Name: 
                span(id="man")=user.firstName 
                span(id="man")=user.lastName 
              h3(id="man") Email: 
                  a(href="#")=user.email
              h4 Date Recieved
                span=user.date_created
          br
          div(class="row")
            div(class="col-md-12")
              h3(id="man") Message:
              p=user.message
          br
          div(class="row")
            div(class="col-md-12")
              a(href="/admin/email/" + user.id) Reply
        else
          h1(class="text-center") No Message Added Yet
  div(id="marg")