extends ../layout

block content
  div(id="marg")
  div(id="content-container")
    if (service)
      div(class="row")
        div(class="col-md-6")
          div(id="courseTitleMargin")
          h1(class="text-center")= service.title
        div(class="col-md-6")
          center
            img(src=service.imageUrl class="img-fluid")
      div(class="row")
        div(class="col-md-12")
          h3 Description:
          p(id="mems")
            span= service.description
          br
          h3 Price:
          p(id="mems")
            span $
            span= service.price
          h3 Category:
          p(id="mems")
            span= service.category
    else
      h1(class="text-center") No Services Added Yet