extends ../layout

block content
  div(id="content-container")
    div(id="container")
      if (blog)
        div(class="row")
          div(class="col-md-12")
            h1(class="text-center")= blog.title
            p(class="text-center")
              small= blog.date_added
            center
              img(src=blog.imageUrl class="img-responsive")
            div= blog.content
            p
              strong Category:
            p
              small= blog.category
      else
        h1(class="text-center") No Blogs Added Yet